/* Deo za prikaz zaglavlja*/

.NaslovLabel {
    font-size: 50px;
    font-style: italic;
    font-weight: bold;
    color: darkblue;
    text-align: center;
    width: 100%;
    height: 100%;
}

.KontaktLab {
    font-size: 20px;
    font-weight: bold;
    color: darkblue;
    text-align: center;
    height: 30px;
    line-height: 30px;
}

.NaslovForm {
    text-align: center;
    align-items: center;
    display: flex;
    padding: 1rem 2rem;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.KontaktForm {
    justify-content: center;
}

.Zaglavlje {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}


/* Deo za prikaz zaglavlja*/

.Meni {
    width: 100%;
    height: 100%;
    justify-content: space-between;
    display: flex;
}

.Dugmici {
    color: blue;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    height: 100%;
}

.TabelaIgraci {
    width: 100%;
    height: 100%;
}

.TabelaSudije {
    width: 100%;
    height: 100%;
}

.TabelaKlubovi {
    width: 100%;
    height: 100%;
}

.TabelaMecevi {
    width: 100%;
    height: 100%;
}

table,
tr,
th,
td {
    text-align: center;
    table-layout: fixed;
    border: 1px solid gray;
}

table {
    border-collapse: collapse;
}

.GlavnaForma {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.FormaKontrole {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    float: right;
    align-items: center;
    width: 100%;
    height: 100%;
}

.FormaPrikaz {
    float: left;
    width: 3000px;
    height: 100%;
    margin-right: 20px;
}

.LabeleKontrole {
    font-size: 15px;
    color: darkblue;
    margin-right: 20px;
    margin-bottom: 20px;
}

.InputKontrole {
    text-align: right;
    margin-bottom: 20px;
}

.DugmiciKontrole {
    margin-bottom: 20px;
    width: 50%;
}

.DugmiciDodajOdustani {
    color: blue;
    font-size: 20px;
    font-weight: bold;
    height: 100%;
    margin-right: 10px;
    width: 50%;
}

.Zatvori {
    color: blue;
    font-size: 20px;
    font-weight: bold;
    height: 100%;
    margin-right: 100px;
    margin-left: 100px;
    width: 100%;
}

.btnPretrazi {
    color: blue;
    font-size: 20px;
    font-weight: bold;
    height: 100%;
    margin-right: 200px;
    margin-left: 200px;
    width: 100%;
}

.mecRezultat {
    text-align: center;
    table-layout: fixed;
    border: 1px solid gray;
}