/* Deo za prikaz zaglavlja*/

.NaslovLabel {
    font-size: 50px;
    font-style: italic;
    font-weight: bold;
    color: darkblue;
    text-align: center;
    width: 100%;
    height: 100%;
}

.KontaktLab {
    font-size: 20px;
    font-weight: bold;
    color: darkblue;
    text-align: center;
    height: 30px;
    line-height: 30px;
}

.NaslovForm {
    text-align: center;
    align-items: center;
    display: flex;
    padding: 1rem 2rem;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.KontaktForm {
    justify-content: center;
}

.Zaglavlje {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}


/* Deo za prikaz zaglavlja*/

.Meni {
    width: 100%;
    height: 100%;
    justify-content: space-between;
    display: flex;
}

.Dugmici {
    color: blue;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    height: 100%;
}

.TabelaIgraci {
    width: 100%;
    height: 100%;
}

table,
tr,
th,
td {
    text-align: center;
    border: 1px solid gray;
}

table {
    border-collapse: collapse;
}

.GlavnaForma {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.FormaKontrole {
    float: right;
    width: 100%;
    height: 100%;
}

.FormaPrikaz {
    float: left;
    width: 3000px;
    height: 100%;
}