/* Deo za prikaz zaglavlja*/

body {
    justify-content: stretch;
    align-self: stretch;
    background-image: url("Sah.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: blanchedalmond;
}

.NaslovLabel {
    font-size: 50px;
    font-style: italic;
    font-weight: bold;
    color: darkblue;
    text-align: center;
    width: 100%;
    height: 100%;
}

.KontaktLab {
    font-size: 20px;
    font-weight: bold;
    color: darkblue;
    text-align: center;
    height: 30px;
    line-height: 30px;
}

.NaslovForm {
    text-align: center;
    align-items: center;
    display: flex;
    padding: 1rem 2rem;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.KontaktForm {
    justify-content: center;
}

.Zaglavlje {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}


/* Deo za prikaz zaglavlja*/

.Meni {
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
}

.TabelaIgraci {
    width: 100%;
    height: 100%;
}

tr:hover {
    background-color: #cd8350;
}

.TabelaTurniri {
    width: 100%;
    height: 100%;
}

.TabelaSudije {
    width: 100%;
    height: 100%;
}

.TabelaKlubovi {
    width: 100%;
    height: 100%;
}

.TabelaMecevi {
    width: 100%;
    height: 100%;
}

table,
tr,
th,
td {
    text-align: center;
    font-size: 18px;
    table-layout: fixed;
    border: 2px solid brown;
}

table {
    border-collapse: collapse;
    background-color: rgb(241, 203, 156);
}

.GlavnaForma {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.FormaKontrole {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    height: 100%;
    margin-right: 10px;
}

.FormaPrikaz {
    float: left;
    width: 75%;
    height: 100%;
    margin-right: 20px;
    margin-left: 10px;
}

.FormaPrikazTurniri {
    float: left;
    width: 100%;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

.LabeleKontrole {
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color: #2b1d14;
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
}

.LabeleKontrolePrikaziIgraca {
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color: #2b1d14;
    margin-right: 20px;
    margin-bottom: 30px;
}

h2 {
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color: #2b1d14;
}

.InputKontrole {
    text-align: right;
    margin-bottom: 20px;
}

.DugmiciKontrole {
    margin-bottom: 30px;
    width: fit-content;
    font-size: 18px;
    background-color: rgb(250, 215, 160);
    border-color: brown;
}

.DugmiciKontrole:hover {
    background-color: #8b5027;
    border-color: brown;
}

.DugmiciDodajOdustani {
    color: blue;
    font-size: 20px;
    font-weight: bold;
    height: 100%;
    margin-right: 10px;
    width: 50%;
}

.IgracKontole {
    width: 100%;
    height: 100%;
}

.IgracKontrolePrikaz {
    margin-bottom: px;
}

.Zatvori {
    font-family: 'Times New Roman';
    width: fit-content;
    background-color: rgb(250, 215, 160);
    border-color: brown;
    font-size: 20px;
    font-weight: bold;
    height: 100%;
    margin-top: 30px;
    margin-right: 100px;
    margin-left: 100px;
    width: 100%;
}

.btnPretrazi {
    color: blue;
    font-size: 20px;
    font-weight: bold;
    height: 100%;
    margin-right: 200px;
    margin-left: 200px;
    width: 100%;
}

.btnSacuvaj {
    font-family: 'Times New Roman';
    width: fit-content;
    font-size: 20px;
    background-color: rgb(250, 215, 160);
    border-color: brown;
}

.mecRezultat {
    text-align: center;
    table-layout: fixed;
    border: 1px solid gray;
}

.RedTurnir {
    text-align: center;
    table-layout: fixed;
    border: 1px solid gray;
}

.NazivTurnira {
    text-align: center;
}

.FormaPrikazTurniri {
    display: flex;
    flex-direction: column;
}

.btnDodajTurnir {
    float: right;
    width: fit-content;
    font-size: 25px;
    background-color: rgb(250, 215, 160);
    border-color: brown;
}

.divDodajTurnir {
    margin-bottom: 10px;
}


/*---------------------------------------------------------------------------------*/

.Dugmici {
    color: blue;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    height: 100%;
}

.DugmiciMeni {
    color: brown;
    background-color: burlywood;
    width: fit-content;
    height: 100%;
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
    border-color: brown;
    border-width: 2px;
    border-radius: 15px;
    border-style: solid;
}

.Pretrazi,
.Dodaj,
.Odustani,
.Promeni,
.Obrisi,
.Prikazi {
    font-family: 'Times New Roman';
    width: fit-content;
    font-size: 20px;
    background-color: rgb(250, 215, 160);
    border-color: brown;
}

.Pretrazi:hover,
.Dodaj:hover,
.Odustani:hover,
.Promeni:hover,
.Obrisi:hover,
.Zatvori:hover,
.Prikazi:hover,
.DugmePregledaj:hover,
.btnSacuvaj:hover,
.btnDodajTurnir:hover {
    background-color: #8b5027;
    border-color: brown;
}

.DugmePregledaj {
    font-family: 'Times New Roman';
    width: fit-content;
    font-size: 20px;
    background-color: rgb(250, 215, 160);
    color: darkblue;
    border-color: darkblue;
}

input[type=text] {
    border: 2px solid brown;
    background-color: rgb(241, 203, 156);
    border-radius: 4px;
    float: right;
}

input[type=date] {
    border: 2px solid brown;
    background-color: rgb(241, 203, 156);
    border-radius: 4px;
    float: right;
}

select {
    border: 2px solid brown;
    background-color: rgb(241, 203, 156);
    border-radius: 4px;
    margin-right: 50px;
}